{{#corpses}}
<div class="headstone">
  <div class="grave">
    <div class="grave-{{ icon }}"></div>
  </div>
  <div class="engraving">
    <div class="header">
      <div class="name">
        <h1>{{ name }}</h1>
      </div>
      <div class="death_date">{{ year }}</div>
      <div class="clear"></div>
    </div>
    <div class="epitaph">{{ epitaph }}</div>
  </div>
  <div class="clear"></div>
</div>
{{/corpses}}
